# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Build output
dist/
build/

# IDE / OS files
.vscode/
.idea/
*.DS_Store
*.swp
Thumbs.db
